<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewRecipe()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Recipes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let recipe of recipeList">
    <ion-card-header>
      {{ recipe.title }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p>{{ recipe.description }}</p>
      </ion-item>
      <ion-list>
        <ion-label>Ingredients</ion-label>
        <ion-item *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
